# Tizen Studio build output
.tproject
.project
.settings/
*.wgt
*.wgt.sign

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
Debug/projects/IPTV-Player

# Node / Electron
node_modules/
dist/
release/
out/
*.blockmap
*.nupkg
*.7z

